body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C10A52;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #a00;
    padding: 10px 20px;
    border-radius: 5px;
}

.dashboard-container {
    padding: 20px;
}

.dashboard-container section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #C10A52;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #C10A52;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para o botão "Gerenciar Pedidos" */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor do fundo do botão */
    color: white; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    margin-left: 15px; /* Espaço entre os botões */
}

.btn:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}
