html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #aaa;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px; /* Ajuste para a altura do cabeçalho */
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(120, 120, 120, 0.3);
    text-align: center;
    margin-top: 20px; /* Ajuste se necessário */
}

h1 {
    color: #ff0066;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

a {
    color: #006CB5;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
