* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px; /* Espaço suficiente para o cabeçalho fixo */
    background-color: #f9f9f9; /* Cor de fundo suave para a página */
}

.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 450px;
    margin: 20px auto; /* Centraliza o formulário e adiciona espaçamento em cima e embaixo */
}

header {
    background-color: #c10a52; /* Cor do cabeçalho */
    color: white;
    padding: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"],
button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #c10a52;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.85;
}

footer {
    background-color: #c10a52; /* Cor do rodapé */
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px; /* Espaçamento acima do rodapé */
}

/* Exibição da imagem do usuário */
img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da coluna */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    button {
        padding: 6px;
        font-size: 12px;
    }
}
